@mixin aboutSection {
    display: flex;
    justify-content: space-between;
    color: $main-font;
    border-bottom: 1px solid #707070;
    margin: 20px 180px;
}

@mixin aboutTextName {
    font-size: 1.625em;
    font-family: $font-alt;
    font-weight: 300;
    padding-bottom: 15px;
}

@mixin aboutTextInfo {
    font-family: $font-alt;
    font-weight: 300;
    padding-bottom: 30px;
}

@mixin aboutNeeds {
    padding-top: 15px;
    font-family: $font-alt;
    font-weight: 300;
    text-align: end;
}

@mixin Message($color)  {
    font-size: 0.8em;
    font-weight: 600;
    padding-top: 5px;
    color: $color;
}

@mixin button {
    font-family: $font-base;
    font-size: 1em;
    cursor: pointer;
    font-weight: 300;
    background-color: #fff;
    background: 0 0;
    padding: 13px;
    border: 0.75px solid transparent;
    text-decoration: none;
    color: $main-font;
}