.contact__section {
    display: flex;

    .contact__section-form {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            padding: 20px 0;
        }
    }

}