.homeSection {
    display: flex;
    height: 95vh;
    width: 100%;

    .homeSection__image {
        height: 100%;
        width: 40%;
    }

    .homeSection__about {
        height: 100%;
        width: 55%;
    }

    .homeSection__navigation {
        margin-bottom: 230px;
    }

    .cta__mainSection {
        display: flex;
        justify-content: center;
        margin-top: 40px;

        .cta__button {
            margin-left: 15px;
        }
    }
}

//MEDIA

@media (max-width: 800px) {

    .homeSection {
        height: 100%;

        .homeSection__image {
            display: none;
        }

        .homeSection__about {
            width: 100%;
            margin-bottom: 30px;
        }

        .homeSection__navigation {
            margin-bottom: 60px;
        }
    }
}