.fourSteps__decoration {
    padding: 40px 0;
}

.fourSteps__section {
    background-color: $background-color;
    display: flex;
    justify-content: space-evenly;

    .fourSteps__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 0;

        .fourSteps__icon {
            text-align: center;
            padding-bottom: 10px;
        }

        .fourSteps__tag {
            color: $main-font;
            width: 150px;
            text-align: center;
            font-size: 1.125em;
            font-weight: 300;
        }

        .fourSteps__line {
            border-bottom: 1px solid $main-font;
            width: 70px;
            margin: 8px 0;
        }

        .fourSteps__text {
            color: $main-font;
            width: 150px;
            text-align: center;
            font-weight: 300;
        }
    }
}

.fourSteps__button {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

//MEDIA

@media (max-width: 800px) {

    .fourSteps__section {
        flex-direction: column;
        justify-content: center;

        .fourSteps__box {
            padding: 20px 0;
        }
    }
}

