.homeBeneficiary__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 10px;

    .homeBeneficiary__navigation-element {
        @include button;
        padding: 10px;
        font-size: 1.5rem;

        &:hover {
            border: 0.75px solid $main-font;
        }

        &:focus {
            outline: none;
        }
    }

    .active {
        border: 0.75px solid $main-font;
    }

    .homeBeneficiary__text {
        padding: 70px 0;
        font-size: 1em;
        font-weight: 300;
        width: auto;
        text-align: center;
    }
}

//MEDIA

@media (max-width: 800px) {
    .homeBeneficiary__section {

        .homeBeneficiary__navigation {
            display: flex;
            flex-direction: column;
            margin-top: 10px;

            .homeBeneficiary__navigation-element {
                font-size: 1rem;
            }
        }

        .homeBeneficiary__text {
            padding: 20px;
        }
    }
}
