.homeSection {
    display: flex;
    height: 95vh;
    width: 100%;

    .homeSection__image {
        height: 100%;
        width: 40%;
    }

    .homeSection__about {
        height: 100%;
        width: 55%;
    }

    .homeSection__navigation {
        margin-bottom: 230px;
    }

    .cta__mainSection {
        display: flex;
        justify-content: center;
        margin-top: 40px;

        .cta__button {
            margin-left: 15px;
        }
    }
}