.contact__section {
    display: flex;
    flex-direction: column;

    .contact__section-container {
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.4);
    }

    .contact__section-main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: calc(100vw * 0.6);
        margin-top: 150px;

        h3 {
            padding: 20px 0;
        }

        .contact__section-form {
            display: flex;
            flex-direction: column;

            .contact__section-name {
                display: flex;
                margin-top: 30px;

                label {
                    display: flex;
                    flex-direction: column;
                    padding: 20px 15px 20px 0;
                }

                input {
                    width: 150px;
                    border: none;
                    border-radius: 0;
                    background: transparent;
                    border-bottom: 0.75px solid $main-font;
                    margin-top: 15px;
                    font-family: $font-base;
                    font-size: 0.8em;
                    outline: none;
                }
            }

            .contact__section-textarea {
                display: flex;

                label {
                    display: flex;
                    flex-direction: column;

                    textarea {
                        background: transparent;
                        border: none;
                        font-family: $font-base;
                        font-size: 0.8em;
                        width: 100%;
                        margin-top: 15px;
                        border-bottom: 0.75px solid $main-font;
                        border-radius: 0;
                        outline: none;
                    }
                }
            }

            .contact__section-btn {
                background: 0 0;
                align-self: flex-end;
                border: 0.75px solid $main-font;
                border-radius: 0;
                padding: 13px 26px;
                margin-right: 13px;
                font-family: $font-base;
                font-size: 1em;
                font-weight: 300;
                margin-top: 40px;
                cursor: pointer;
            }

            .errorMessage {
                font-size: 0.8em;
                font-weight: 600;
                color: #ab1c1c;
                padding-top: 5px;
            }

            .successMessage {
                text-align: center;
                font-size: 0.8em;
                font-weight: 600;
                color: #34a71a;
                padding-top: 20px;
            }
        }
    }


}

.contact__section-footer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 100px;

    .contact__section-empty {
        width: calc(100% / 3);
    }

    .contact__section-copyrights {
        width: calc(100% / 3);
        text-align: center;
        font-weight: 300;
    }

    .contact__sections-socials {
        display: flex;
        justify-content: flex-end;
        padding-right: 100px;
        width: calc(100% / 3);

        img {
            display: flex;
            cursor: pointer;
            justify-content: flex-end;
            padding-left: 20px;

        }
    }
}