.homeBeneficiary__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;

    .homeBeneficiary__navigation-element {
        background: #fff;
        box-sizing: border-box;
        font-family: $font-base;
        font-weight: 300;
        font-size: 1.5rem;
        padding: 13px;
        margin: 11px 7px;
        cursor: pointer;
        border: 0.75px solid transparent;

        &:hover {
            border: 0.75px solid $main-font;
        }

        &:focus {
            outline: none;
            border: 0.75px solid $main-font;
        }
    }

    .active {
        border: 0.75px solid $main-font;
    }

    .homeBeneficiary__navigation-element:active {
        border: 0.75px solid $main-font;
    }

    .homeBeneficiary__text {
        padding: 70px 0;
        font-size: 1.375em;
        font-weight: 300;
        width: 650px;
        text-align: center;
    }
}