.loginSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;

    .loginBox {
        margin-top: 50px;

        .login__formSection-credentials {
            background-color: $background-color;
            width: 350px;
            height: 230px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            label {
                display: flex;
                flex-direction: column;
                padding: 20px 0;

                input {
                    background-color: $background-color;
                    width: 200px;
                    border: none;
                    border-bottom: 1px solid #707070;
                    border-radius: 0;
                    margin-top: 10px;
                    outline: none;
                }
                .errorMessage {
                    @include Message($error);
                }
            }
        }

        .login__formSection-buttons {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;

            .login__formSection-button {
                @include button;

                &:hover {
                    border: 0.75px solid $main-font;
                }
            }

            .login__formSection-buttonLogin {
                @include button;
                border: 0.75px solid $main-font;
            }
        }
    }
}