.registerSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;

    .registerBox {
        margin-top: 50px;

        .register__formSection-credentials {
            font-family: $font-base;
            background-color: $background-color;
            width: 350px;
            height: 330px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            label {
                display: flex;
                flex-direction: column;
                padding: 20px 0;

                input {
                    background-color: $background-color;
                    width: 200px;
                    border: none;
                    border-bottom: 1px solid #707070;
                    border-radius: 0;
                    margin-top: 10px;
                    outline: none;
                }
                .errorMessage {
                    @include Message($error);
                }
            }
        }

        .register__formSection-buttons {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;

            .register__formSection-button {
                font-family: $font-base;
                font-size: 1em;
                cursor: pointer;
                font-weight: 300;
                background-color: #fff;
                background: 0 0;
                padding: 13px;
                border: 0.75px solid transparent;
                text-decoration: none;
                color: $main-font;

                &:hover {
                    border: 0.75px solid $main-font;
                }
            }
        }
    }
}